body {
    font-family: Fixedsys, monospace;
}

.content {
    background-color: rgb(189, 222, 185);
    font-size: 48px;
}
.contact-info{
    background-color: #95c898;
}

.navbar{
    background-color: #95c898;
    font-size: 32px
}