body {
    font-family: Fixedsys, monospace;
    background-color: #13301a;
}

.container {
    margin: 50px auto;
    padding: 50px;
    background-color: #c5ddc7;
    font-size: 24px;
    border-radius: 5%;
}


.contact-info {
    background-color: #aadcae;
    align-items: center;
}

#navbar {
    font-size: 32px
}

.responsive-video {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.custome-toggler-icon {
    display: block;
    width: 100%;
    height: auto;
    background-image: url(LOGO.png);
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
}

.bio {
    text-align: center;
}