body {
    font-family: Fixedsys, monospace;
    background-color: #13301a;
}

.content_container {
    margin: 80px auto;
    padding: 50px;
    background-color: #c5ddc7;
    font-size: 24px;
    border-radius: 5%;
    width: 90%;
}

.contact_container {
    margin: 60px auto;
    padding: 50px;
    background-color: #88ab8b;
    font-size: 24px;
    border-radius: 5%;
    width: 90%;
}


.contact-info {
    align-items: center;
}

.navbar {
    font-size: 32px;
    position:relative;
}
.bg-custom{
    background-color: #c5ddc7;
}

.navbar::after{
    content:"";
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height:50px;
    background-image: url("vines_border.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: 0 0, 10px 0;
}

.responsive-video {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding: 10px;
}

.custom-toggler-icon {
    display: block;
    width: 75px;
    height: 75px;
    background-image: url("LOGO.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
}

.bio {
    text-align: center;
}

.text-border {
    border-style: solid;
    border-width: 5px;
    border-color: #13301a;
    border-radius: 5%;
}